<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/global.css">
  <link rel="stylesheet" href="/public/tachyons/css/tachyons.min.css">

  <!-- github serves feed.xml in ASCII instead of UTF8. Change file extenstion and indicate here. -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.url }}/feed.atom" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url }}" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Icons -->
  <link rel="shortcut icon" href="/public/favicon.ico?v=1">

</head>

<body class="pa4-l normal mw9 center ph3-ns f4 fw1 normal near-black">
    <div class="bt bw2 mb3 mt0 pt2 ph2 system-sans-serif tc tl-ns">
        Dennis Yi Tenen
        {% if page.title %}
            <a href="{{ site.url }}" class="black b hover-red no-underline">Ø</a>
        {% else %}
            <a href="{{ site.url }}" class="b red no-underline">Ø</a>
        {% endif %}

        {% assign sorted_pages = site.pages | sort:"title" %}
        {% for node in sorted_pages %}
        {% if node.title != null %}
            <a class="fw1 ttc system-sans-serif link dark-gray hover-red
                {% if node.url == page.url %}red
                {% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
        {% endfor %}
    </div>
