<div class="sidebar">
    <div class="sidebar-about">
        <h1><a href="/"> {{ site.title }} </a></h1>
    </div>

    <!-- show all pages -->
    <ul class="sidebar-nav">
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- show all pages sorted -->
    <!-- Rename files to match my desired order: 00-index.md, 01-about.md -->
    <!-- Use permalinks for prettier links -->

    <!-- {% assign sorted_pages = site.pages | sort:"name" %}
    {% for node in sorted_pages %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endfor %} -->

    <div class="container sidebar-sticky">
        <p>CC BY-SA {{ site.time | date: '%Y' }}</p>
    </div>
</div>
