<div class="sidebar">
    <div class="sidebar-about">
        <!-- <h1><a href="/"> {{ site.title }} </a></h1> -->
        <b>A.</b> {% include CV/bios/bio.md %}
    </div>

    <!-- show all pages except for garbage ones-->
    <!-- sort according to title -->
    <!-- pages without a title excluded -->
    <!-- hightlight active page in navigation-->
    <ul class="sidebar-nav">
        {% assign sorted_pages = site.pages | sort:"title" %}
        {% for node in sorted_pages %}
        {% if node.title != null %}

            <li class="sidebar-nav-item{% if node.url == page.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>
            </li>

        {% endif %}
        {% endfor %}
    </ul>

    <!-- show all pages sorted -->
    <!-- Rename files to match my desired order: 00-index.md, 01-about.md -->
    <!-- Use permalinks for prettier links -->

    <!-- {% assign sorted_pages = site.pages | sort:"name" %}
    {% for node in sorted_pages %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endfor %} -->

    <div class="container sidebar-sticky">
        <p>CC BY-SA {{ site.time | date: '%Y' }}</p>
    </div>
</div>
