---
layout: default
---

<article class="">
    <article class="cf pv3">
        <header class="fn fl-ns w-50-ns pr4-ns">

            <h1 class="f2 lh-title fw9 mb0 mt0 pt3 bt bw1 black">
                {{ page.title }}
            </h1>

            <!-- <span class="f6 ttu tracked gray">
            </span> -->

            <span class="f4 mid-gray lh-title">
                {{ page.publisher}}, {{ page.year }}
            </span>

            <div class="pt3">
                <img src="{{ page.cover}}" class="w-100" alt="Cover of {{ page.title | downcase
                 }}">
            </div>

        </header>

  <div class="fn fl-ns w-50-ns pt4">
    <span class="f5 lh-copy measure mt0-ns">

        {{ page.excerpt | markdownify }}

    </span>
  </div>

</article>

<div>
        {{ content }}
</div>

</article>
