---
layout: default
---

<article class="">
    <article class="cf pv3">
        <header class="fn fl-ns w-50-ns pr4-ns">

            <!-- <h1 class="f2 lh-title fw9 mb0 mt0 pt3  bt bw1 black">-->
            <!-- top dashed border -->
            <!-- <h1 class="f2 lh-title fw9 mb0 mt0 pt3 b--dashed br-0 bl-0 bb-0 bw1"> -->
            <h1 class="f2 lh-title fw9 mb0 mt0 pt3">
                {{ page.title }}
            </h1>

            <!-- <span class="f6 ttu tracked gray">
            </span> -->

            <span class="f4 mid-gray lh-title">
                <a href="{{ page.presslink }}">{{ page.publisher }}, {{ page.year }}</a>
            </span>

            <div class="pt3">
                <img src="{{ page.cover}}" class="w-100" alt="Cover of {{ page.title | downcase
                 }}">
            </div>

            <div class="mt3">
               {% if page.amazon %}
                    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib mid-gray" href="{{ page.amazon }}">
                        <i class="fa-brands fa-amazon fa-xl"></i>
                    </a>
                {% endif %}

                {% if page.bookshop%}
                    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib mid-gray" href="{{ page.bookshop }}">Bookshop</a>
                {% endif %}

                {% if page.hudson %}
                    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib mid-gray" href=" {{ page.hudson }}">Hudson</a>
                {% endif %}

                {% if page.bam %}
                    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib mid-gray" href="{{ page.bam }}">BAM!</a>
                {% endif %}

                {% if page.bn %}
                    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib mid-gray" href="{{ page.bn }}">B&N</a>
                {% endif %}

                {% if page.walmart %}
                    <a class="f6 link dim br3 ba ph3 pv2 mb2 dib mid-gray" href="{{ page.walmart }}">Walmart</a>
                {% endif %}
            </div>

        </header>

  <div class="fn fl-ns w-50-ns pt0">
    <span class="f5 lh-copy measure mt0-ns">

            {% for r in page.reviews %}
                <blockquote>
                    <span class="georgia f6 i"> {{ r.quote }} </span> </br>
                    <span>
                        {% if r.link %}
                            <a class="red mt0 f6" href="{{ r.link }}">
                        {% endif %}
                        {% capture heading %} --- {{ r.source  }}{% endcapture %}
                        {{ heading | markdownify }}
                    </a></span>
                </blockquote>
            {% endfor %}

            {{ page.excerpt | markdownify }}

    </span>
  </div>

  </article>
</article>
