---
layout: default
---

<!-- sometimes we land here from the home page -->
<!-- in that case display bio as well -->
<div>
{% if page.url contains page.title %}
{% else %}
    {% include CV/bios/bio.md %}
    Read some of my recent notes here:
{% endif %}
</div>

<div class="fl w-100 pa">
{% for post in site.posts %}
    <time class="di-ns f5 ttu tracked gray code">
        {{ post.date | date_to_string }}
    </time>

    <div class="di-ns mb2">
    <a class="link black hover-red" href="{{ BASE_PATH }}{{ post.url }}">
        {{ post.title }}
    </a><br>
    </div>
{% endfor %}
</div>
